<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harish Job Portal</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'header.html' %}
<div class="container-fluid text-center text-wrap">

    <h1 >New Careers Portal</h1>
   {% include 'banner.html' %}
    <h2>About Job Portal</h2>
    <p class="font-monospace">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <h2>Open Positions</h2>
    <p class="font-monospace text-center">
        {% for job in range(len) %}
            {% include 'jobitem.html' %}
        {% endfor %}
    </p>
    <a href="mailto:name@email.com" type="button" class="btn btn-info">Contact Us</a>
    {% include 'footer.html' %}
</div>
</body>
</html>